<div id="wrapper">
		
			<h1 id="connect_header">Connect 4</h1>
			
			<button type = "button" id = "reset">Reset</button>
			
			<div id="form1">
				<form>
				<p id = "p1">Player 1:</p>
				<input type = "text" name = "input_name1"><br>
				<button type = "button" name = "submit_button1" class = "sbutton">Submit</button>
			</div>
			
			<div id ="form2">
				<form>
				<p id = "p2">Player 2:</p>
				<input type = "text" name = "input_name2"><br>
				<button type = "button" name = "submit_button2" class = "sbutton">Submit</button>
			</div>
			
			<div id="allcols">
				<div id="col1" class = "cols"></div><div id="col2" class = "cols"></div><div id="col3" class = "cols"></div><div id="col4" class = "cols"></div><div id="col5" class = "cols"></div><div id="col6" class = "cols"></div><div id="col7" class = "cols"></div>
				<p id="win"></p>
			</div>
</div>