THIS IS A GAME CONTROLLER!

	<h1> This is a header </h1>
	<br/> br is for new line
	<div> general-purpose container </div>
	<span> in-line container </span>
	<input type = 'text' class = 'player_name' />
	<input type = 'button' value = 'Submit' />

	<div id ='myDiv' class ='myClass' />
	<div id = 'myDiv2' class = 'myClass' />